.footer {
    background-color:#000;
    color: #ccc;
    padding: 60px 0 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.footer-box h2.logo {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-box h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-box p {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-box ul li a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #fff;
}

/* ICONOS SOCIALES */
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
    font-size: 18px;
    border: 1px solid #555;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #fff;
    color: #000;
}

/* CONTACTO */
.contacto li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacto i {
    color: #fff;
}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #333;
    font-size: 13px;
    color: #888;
}
