<footer class="footer">
    <div class="footer-container">

        <!-- LOGO / MARCA -->
        <div class="footer-box">
            <h2 class="logo">CAMILION</h2>
            <p>Camisetas y accesorios urbanos</p>

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        fab fa-facebook-f

        <!-- CATEGORÍA -->
        <div class="footer-box">
            <h3>Categoría</h3>
            <ul>
                <li><a href="#">Camisetas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </div>

        <!-- LINKS -->
        <div class="footer-box">
            <h3>Links</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos & Condiciones</a></li>
            </ul>
        </div>

        <!-- CONTACTO -->
        <div class="footer-box">
            <h3>Contacto</h3>
            <ul class="contacto">
                <li><i class="fas fa-envelope"></i> info@camilion.com</li>
                <li><i class="fas fa-phone"></i> 123-456-7890</li>
                <li><i class="fas fa-globe"></i> camiliontienda.com</li>
                <li><i class="fas fa-mobile-alt"></i> 123-456-7890</li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 CAMILION | Todos los derechos reservados
    </div>
</footer>
