<header >
  <!-- PARTE SUPERIOR -->
 <div class="header-top">
  <div class="header-left"></div>

  <div class="header-icons">
    <a routerLink="login" class="icon">
      <img src="assets/images/login.png" alt="Login">
    </a>
    <a href="#" class="icon">
      <img src="assets/images/carrito.png" alt="Carrito">
    </a>
  </div>
</div>


  <!-- NAV + BUSCADOR -->
  <div class="nav-bar">
  <nav class="nav">
  <a routerLink="home">INICIO</a>
  <span>|</span>
  <a routerLink="#">CATEGORIA</a>
  <span>|</span>
  <a routerLink="ofertas">OFERTAS</a>
  <span>|</span>
  <a routerLink="contacto">CONTACTO</a>
  <span>|</span>
  <a routerLink="nosotros">NOSOTROS</a>
  <span>|</span>

  <!-- DROPDOWN HERRAMIENTAS -->
  <div class="dropdown">
  <button class="dropbtn">HERRAMIENTAS ▾</button>

  <div class="dropdown-content">
    <a routerLink="listaproducto">PRODUCTOS</a>
    <!-- <a routerLink="producto-destacado">PRODUCTO DESTACADO</a>
    <a routerLink="listaoferta">OFERTAS</a> -->
    <a routerLink="listacategoria">CATEGORIAS</a>
    <a routerLink="listausuario">USUARIOS</a>
  </div>
</div>
</nav>

    <div class="search-inline">
      <input type="text" placeholder="Buscar...">
      <button>🥾​</button>
    </div>
  </div>
</header>

