<header >
  <!-- PARTE SUPERIOR -->
 <div class="header-top">
  <div class="header-left"></div>

  <div class="header-icons">
    <a routerLink="login" class="icon">
      <img src="assets/images/login.png" alt="Login">
    </a>
    <a routerLink="carrito" class="icon">
      <img src="assets/images/carrito.png" alt="Carrito">
    </a>
  </div>
</div>


  <!-- NAV + BUSCADOR -->
  <div class="nav-bar">
  <nav class="nav">
  <img class="casah" src="assets/images/casah.png">
  <a routerLink="home">INICIO</a>
  <img class="casah" src="assets/images/ofertah.png">
  <a routerLink="ofertas">OFERTAS</a>
  <img class="casah" src="assets/images/contactoh.png">
  <a routerLink="contacto">CONTACTO</a>
  <img class="casah" src="assets/images/nosotrosh.png">
  <a routerLink="nosotros">NOSOTROS</a>
  <img class="casah" src="assets/images/herramientah.png">
  <!-- DROPDOWN HERRAMIENTAS -->
  <div class="dropdown">
  <button class="dropbtn">HERRAMIENTAS ▾</button>

  <div class="dropdown-content">
    <a routerLink="listaproducto">PRODUCTOS</a>
    <!-- <a routerLink="producto-destacado">PRODUCTO DESTACADO</a>
    <a routerLink="listaoferta">OFERTAS</a> -->
    <a routerLink="listacategoria">CATEGORIAS</a>
    <a routerLink="listausuario">USUARIOS</a>
  </div>
</div>
</nav>
  </div>
</header>

